.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    grid-template-rows: 1.5rem auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--offWhite);
    border-radius: 0.25rem;
}

.topBar {
    background-color: var(--darkBlue);
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.closeBtnImg {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: -0.5rem;
}
.close_btn:hover {
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    z-index: 100;
}

.appDetails{
    display: flex;
    flex-direction: row;
}