.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal_container {
    grid-template-rows: 1.5rem auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backGroundWhite);
    z-index: 1000;
    border-radius: 0.25rem;
}

.topBar {
    background-color: lightgrey;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.close_btn:hover {
    cursor: pointer;
}

.modal_body {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
