.inputs {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--darkBlue);
}

.dropDown {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--darkChocolate);
}

.selects {
    font-size: 0.9rem;
    color: var(--darkChocolate);
    margin-top: 1.3rem;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--darkBlue);
}

.lineBreak {
    border-top: 1px solid var(--mainOrange);
    margin-top: 0.5rem;
}

.labels {
    color: var(--darkChocolate);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.labels,
.inputs {
    transition: all 0.2s;
    touch-action: manipulation;
}

.inputs:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}
.inputs:placeholder-shown + .labels {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.7rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 1;
    transition: inherit;
}

.inputs:focus::-webkit-input-placeholder {
    opacity: 1;
}

.inputs:not(:placeholder-shown) + .labels,
.inputs:focus + .labels {
    transform: translate(0, 1rem) scale(1);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
}
