.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 2rem;
    width: 100%;
    background-color: var(--sidebarBlack);
    border-right: 0.2rem solid var(--topbarGrey);
}

.homeBtn,
.oppBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--buttonBlue);
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    transition: filter 0.3s;
}

.homeBtn:hover,
.oppBtn:hover {
    filter: brightness(1.3);
}
