.component {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20%;
    height: 100%;
}
.columnTitle {
}
.addAppButton:hover {
    cursor: pointer;
}

.hoverBox {
    width: 95%;
    height: 50px;
    background-color: grey;
}

.card {
    box-sizing: border-box;
    border-radius: 0.2em;
    padding: 10px;
    background-color: lightgrey;
    width: 95%;
    overflow: hidden;
    font-size: 80%;
    margin: 8px 0px;
    diplay: grid;
    min-height: 100px;
    grid-template-columns: 50px auto;
    grid-template-rows: 1em auto;
    grid-template-areas:
        'logo company'
        'logo position';
}

.card:hover {
    cursor: grab;
}
.card img {
    height: 40px;
    grid-area: logo;
}
