.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding-top: 2rem;
    width: 100%;
    background-color: var(--mainBlue);
    /* background-image: linear-gradient(#3D5A80, #3D5A80,#98C1D9); */
}

.homeBtn,
.oppBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    transition: filter 0.3s;
}

.homeBtn:hover,
.oppBtn:hover {
    filter: brightness(1.3);
}
