button {
    all: unset;
    user-select: none;
}
svg {
    margin-right: 0.5em;
}
.container {
    box-sizing: border-box;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.1em 0.4em;
    font-size: 1.2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.05);
}
