.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    min-height: calc(100vh - 4.5rem);
    background-color: var(--backGroundWhite);
    border-radius: 0.4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title {
    margin-bottom: 1rem;
}

.addBtn {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.addBtn:hover {
    filter: brightness(1.3);
    cursor: pointer;
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.jobCard {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.4rem;
    margin-top: 1rem;
    width: 90%;
    padding: 0.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.jobCard:hover {
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid grey;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.jobCard_Logo {
    border-radius: 0.4rem;
    margin-right: 0.2rem;
    width: 20%;
    height: 2rem;
}

.jobCard_Logo > img {
    height: 100%;
    border-radius: 0.4rem;
}

.jobCard_Info {
    width: 80%;
}
