.component {
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 10px;
    background-color: lightgrey;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1.5em;
    font-size: 80%;
}

.component:hover {
    cursor: grab;
    background-color: #6f7984;
}

.component div {
    display: flex;
    justify-content: space-between;
}

.companyName {
    color: var(--darkBlue);
    font-size: 2rem;
}
.subText {
    color: var(--olive);
    font-size: 1rem;
}

.component img {
    height: 2em;
}

.component span {
    padding-left: .1em;
}