.component {
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1.5em;
    font-size: 80%;
    box-shadow: 13px 13px 20px #cbced1, 
    /* top right shadow (brighter) */
                -13px -13px 20px #e8e8e8;
                height: 150px;
}

.component:hover {
    cursor: grab;
    background-color: #6f7984;
}

.component div {
    display: flex;
    justify-content: space-between;
}

.companyName {
    color: var(--darkBlue);
    font-size: 2rem;
    margin: 5px;
}
.subText {
    color: var(--olive);
    font-size: 1rem;
}

.component span {
    padding-left: .1em;
}

.cardLogo {
    height: 3em;
}

.delete {
    height: 2em;
}