.container {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        'sidebar topbar'
        'sidebar viewArea';
    height: 100vh;
}

.topBar {
    grid-area: topbar;
}

.sideBar {
    height: calc(100vh - 2rem);
    grid-area: sidebar;
}

.viewArea {
    grid-area: viewArea;
}
