.container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 12rem auto;
    grid-template-rows: 5rem auto;
    grid-template-areas:
        'sidebar topbar'
        ' viewArea'; */
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 10px solid orange; */
}

/* .topBar {
    grid-area: topbar;
} */

/* .sideBar {
    height: calc(100vh - 2rem);
    grid-area: sidebar;
} */

.viewArea {
    /* grid-area: viewArea; */
    overflow-x: scroll;
    /* margin: 15px; */
    height: 100%;
    /* width: 100%; */
    border: 10px solid #F79020;
    position: relative;
    background-color: cornsilk;
}