@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font);
    height: 100%;
}

:root {
    height: 100%;
    --font: 'Eczar', serif;
    --buttonBlue: #3499e2;
    --sidebarBlack: #2e3532;
    --topbarGrey: #dbdbdb;
    --backGroundWhite: #e7e7e7;
    --blackOps: 'Black Ops One', cursive;
    --mainBlue: #68a6ad;
    --darkBlue: rgb(14, 91, 147);
    --mainOrange: #f04625;
    --peach: #f19b88;
    --offWhite: #f2efeb;
    --olive: #47381d;
    --darkChocolate: #1d170b;
    --lightGray: lightgrey;
    --darkGray: #6f7984;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
